[package]
name = "themelio-node"
version = "0.1.0"
authors = ["nullchinchilla <nullchinchilla@pm.me>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

smol = "1.2.5"
anyhow="1"
structopt="0.3"
serde="1" 

log="0.4"
tracing="0.1"

hex="0.4"
lru="0.6"

blkstructs={path="../../libs/blkstructs"}
tmelcrypt={path="../../libs/tmelcrypt"} 
melnet={path="../../libs/melnet"} 
autosmt={path="../../libs/autosmt"}
stdcode={path="../../libs/stdcode"}
neosymph={path="../../libs/neosymph"}
im="15"
parking_lot="0.11"

smolscale="0.1"
colored = "2.0.0"
tabwriter = "1.2.1"
rustyline = "7.1.0"
tracing-subscriber = "0.2.16"

sled="0.34.6"

[dependencies.async-compression]
version="0.3.7"
features=["futures-io", "gzip"]

[dependencies.rusqlite]
version="0.24.2"
features=["bundled"]
