{% extends "skeleton.html" %}

{% block title %} Melscan {% endblock %}

{% block nav %}
<a href="/" class="text-black hover:text-opacity-60 hover:underline">Melscan</a>
{% endblock %}


{% block body %}

<div class="container mx-auto max-w-screen-lg">
  <div class="grid grid-cols-1 md:grid-cols-2 mt-8 mb-8">
    <div class="col-span-2 mb-3">
      <h3 class="text-2xl font-bold">Melmint/Melswap</h3>
    </div>

    <div>
      <span class="text-lg font-bold"><span class="text-black text-opacity-50">1 MEL =</span> {{(10000.0 / pool.mel_per_dosc).round() / 10000.0}} rDOSC</span>
      <br>
      <small class="text-blue-600 font-bold"><a href="/pools/64">See details →</a></small> · <small class="text-black text-opacity-50 font-bold"><span class="text-purple-600">{{((1.0 - pool.mel_per_dosc) * 100.0 * 100.0).round() / 100.0}}%</span> from peg</small>
    </div>

    <div>
      <span class="text-lg font-bold"><span class="text-black text-opacity-50">1 MEL =</span> {{(10000.0 / pool.mel_per_sym).round() / 10000.0}} sym</span><br>
      <small class="text-blue-600 font-bold"><a href="/pools/73">See details →</a></small>
    </div>

  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 mt-12 mb-12 grid-flow-row">
    <div class="col-span-full mb-3">
      <h3 class="text-2xl font-bold">Latest activity</h3>
    </div>

    <div>
      <h3 class="text-xl font-semibold">Latest blocks</h3>
      <small class="text-black text-opacity-50 font-bold">Most recently confirmed blocks</small>
      <table class="table-auto w-full mt-3">
        <thead class="text-left text-sm text-black text-opacity-50">
          <tr>
            <th>Height</th>
            <th>Total weight</th>
            <th>Proposer reward</th>
          </tr>
        </thead>
        <tbody class="leading-loose text-sm">
          {% for block in blocks %}
          <tr>
            <td class="font-medium"><a href="/blocks/{{block.header.height}}" class="text-blue-600">{{block.header.height}}</a></td>
            <td>{{block.total_weight}} wu</td>
            <td>{{ block.reward_amount }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>

    <div>
      <h3 class="text-xl font-semibold">Latest transactions</h3>
      <small class="text-black text-opacity-50 font-bold">Transactions in latest blocks</small>
      <table class="table-auto w-full mt-3">
        <thead class="text-left text-sm text-black text-opacity-50">
          <tr>
            <th>Hash</th>
            <th>Height</th>
            <th>Mel moved</th>
          </tr>
        </thead>
        <tbody class="leading-loose text-sm">
          {% for tx in transactions %}
          <tr>
            <td><a href="/blocks/{{tx.height}}/{{tx.hash}}" class="text-blue-600">{{tx.shorthash}}...</a></td>
            <td>{{tx.height}}</td>
            <td>{{ tx.mel_moved }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>


  </div>
</div>
{% endblock %}
