{% extends "skeleton.html" %}

{% block title %} Melscan {% endblock %}

{% block head %}
<style>
  #head button {
    font-size: 90%;
    margin-left: 4px;
    margin-right: 4px;
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10%;
  }

  #head button:hover {
    background-color: #eee;
  }

  .card {
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    margin: 4px;
    padding: 16px;
  }

  .ticker-card {
    display: flex;

    justify-content: center;
    flex-direction: column;
  }

</style>
{% endblock %}

{% block nav %}
<a href="/" class="text-black hover:text-opacity-60 hover:underline">Melscan</a>
{% endblock %}


{% block body %}
<div class="container mx-auto max-w-screen-lg">
  <div class="mb-3 mt-8">
    <h3 class="text-2xl font-bold">Token {{denom}}</h3>
  </div>

  <div class="grid grid-cols-12 md:grid-flow-col grid-flow-row">
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Price</small></div>
      <div class="text-lg font-medium">{{(last_item.price * 1000.0).round() / 1000.0}} mel/{{denom}}</div>
    </div>
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Liquidity</small></div>
      <div class="text-lg font-medium">{{(last_item.liquidity * 1000.0).round() / 1000.0}} mel</div>
    </div>
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Current height</small></div>
      <div class="text-lg font-medium">{{last_item.height}}</div>
    </div>

    <div class="md:col-span-9 col-span-12 md:row-span-3 card">
      <div class="grid grid-cols-2" id="head">
        <div class="text-left"><button onclick="loadLiquidity()">Liquidity</button><button onclick="loadPrice()">Price</button></div>
        <div class="text-right"><button onclick="loadLastDay()">1D</button><button onclick="loadLastWeek()">1W</button><button onclick="loadLastMonth()">1M</button><button onclick="loadAllTime()">All</button></div>
      </div>
      <div class="h-64" id="graph"></div>
    </div>

  </div>

  <script>
    const last_day = JSON.parse('{{ last_day_json|safe }}').map((d) => { d.date = new Date(d.date); return d });
    const last_week = JSON.parse('{{ last_week_json|safe }}').map((d) => { d.date = new Date(d.date); return d });
    const last_month = JSON.parse('{{ last_month_json|safe }}').map((d) => { d.date = new Date(d.date); return d });
    const all_time = JSON.parse('{{ all_time_json|safe }}').map((d) => { d.date = new Date(d.date); return d });

    var drawRange = last_month;
    var drawAccessor = 'price';

    function loadLastDay() {
      drawRange = last_day;
      load();
    }

    function loadLastWeek() {
      drawRange = last_week;
      load();
    }

    function loadLastMonth() {
      drawRange = last_month;
      load();
    }

    function loadAllTime() {
      drawRange = all_time;
      load();
    }

    function loadLiquidity() {
      drawAccessor = 'liquidity';
      load();
    }

    function loadPrice() {
      drawAccessor = 'price';
      load();
    }

    function load() {
      MG.data_graphic({
        data: drawRange,
        full_width: true,
        full_height: true,
        x_accessor: 'date',
        y_accessor: drawAccessor,
        target: "#graph",
        buffer: 0,
        yax_units: "mel",
        yax_units_append: true,
        left: 70,
        top: 10,
        bottom: 40,
        right: 10,
        interpolate: d3.curveMonotoneX
      });
    }

    // run after d3 etc loads
    window.addEventListener('DOMContentLoaded', function () {
      load();
    });
  </script>
</div>
{% endblock %}
