<!doctype html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.2px;
        }

    </style>
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>
