{% extends "skeleton.html" %}

{% block title %} Melscan {% endblock %}

{% block nav %}
<a href="/" class="text-black text-opacity-60 hover:text-opacity-40 hover:underline">Melscan</a> 🢒 <a href="/blocks/{{height}}" class="text-black text-opacity-60 hover:text-opacity-40 hover:underline">Block {{height}}</a> 🢒 <a href="/blocks/{{height}}/{{txhash}}" class="text-black hover:text-opacity-60 hover:underline">Transaction {{txhash_abbr}}...</a>
{% endblock %}

{% block body %}

<div class="container mx-auto max-w-screen-lg">
  <div class="mb-3 mt-8">
    <h3 class="text-2xl font-bold">Summary</h3>
  </div>

  <div class="m-3">
    <table class="table-fixed w-full text-sm text-left">
      <tbody>
        <tr>
          <td class="text-black text-opacity-50 font-bold w-1/3">Height</td>
          <td><a href="/blocks/{{height}}" class="text-blue-600 font-medium">{{height}}</a></td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Kind</td>
          <td class="font-medium">{{transaction.kind}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Hash</td>
          <td class="font-medium">{{ txhash }}</td>
        </tr>
        <tr>
    </table>
  </div>

  <div class="m-3">
    <table class="table-fixed w-full text-sm text-left">
      <td class="text-black text-opacity-50 font-bold w-1/3">Total output</td>
      <td> {% for gain_entry in gross_gain %}
        {{ gain_entry }}
        {% endfor %}
      </td>
      </tr>
      <tr>
        <td class="text-black text-opacity-50 font-bold">Fee</td>
        <td>{{ fee }}<br>
          <span class="text-black text-opacity-50">{{ base_fee }} <i>base</i></span><br>
          <span class="text-black text-opacity-50">{{ tips }} <i>tips</i></span><br>
        </td>
      </tr>
      <tr>
        <td class="text-black text-opacity-50 font-bold">Weight</td>
        <td>{{ transaction.weight() }} wu</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="grid grid-cols-1 text-sm">
    <div class="m-3">
      <span class="text-black text-opacity-50 font-bold">Net senders</span><br>
      <table class="table-fixed w-full text-left">
        <tbody>
          {% for loss_entry in net_loss %}
          <tr>
            <td>{{ loss_entry.0 }}</td>
            <td class="font-medium" style="color: #a22041">
              {% for loss_denom in loss_entry.1 %}
              {{ loss_denom }}<br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="m-3">
      <span class="text-black text-opacity-50 font-bold">Net receivers</span><br>
      <table class="table-fixed w-full text-left">
        <tbody>
          {% for gain_entry in net_gain %}
          <tr>
            <td>{{ gain_entry.0 }}</td>
            <td class="font-medium" style="color: #007b43">
              {% for gain_denom in gain_entry.1 %}
              {{ gain_denom }}<br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}

          <tr>
            <td><i>(Total fees)</i></td>
            <td class="font-medium" style="color: #007b43">
              {{ fee }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mb-3 mt-8">
    <h3 class="text-2xl font-bold">Inputs</h3>
  </div>

  <div class="m-3">
    {% for (index, input, cdh, value) in inputs_with_cdh %}
    <table class="table-fixed w-full text-sm text-left mt-1 mb-1">
      <tbody>
        <tr>
          <td class="text-black text-opacity-50 font-bold w-1/3">Index</td>
          <td>{{index}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Spent CoinID</td>
          <td><a class="text-blue-600" href="/blocks/{{cdh.height}}/{{input.txhash}}">{{ input.txhash }}</a>-{{input.index}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Value</td>
          <td>{{value}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Recipient</td>
          <td>{{cdh.coin_data.covhash.0.to_addr()}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Additional data</td>
          <td>{{cdh.coin_data.additional_data_hex()}}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>

  <div class="mb-3 mt-8">
    <h3 class="text-2xl font-bold">Outputs</h3>
  </div>

  <div class="m-3">
    {% for (index, coin_data, value) in outputs %}
    <table class="table-fixed w-full text-sm text-left mt-1 mb-1">
      <tbody>
        <tr>
          <td class="text-black text-opacity-50 font-bold w-1/3">Index</td>
          <td>{{index}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Value</td>
          <td>{{value}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Recipient</td>
          <td>{{coin_data.covhash.0.to_addr()}}</td>
        </tr>
        <tr>
          <td class="text-black text-opacity-50 font-bold">Additional data</td>
          <td>{{coin_data.additional_data_hex()}}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>


</div>
{% endblock %}
