version: "3.9"
services:
  themelio-node:
    image: ghcr.io/themeliolabs/themelio-node-testnet:latest
    network_mode: "host"
    command:
      --strategy at-once --url https://bldr.habitat.sh
      --group {{ aws_region }}
      --update-condition latest
      --auto-update
    ports:
      - 11814:11814
      - 8080:8080
    hostname: ${HOSTNAME}
    volumes:
      - themelio-node-testnet:/var/lib/themelio-node/

  promtail:
    image: ghcr.io/themeliolabs/promtail:latest
    ports:
      - 9080:9080
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /home/admin/compose/promtail.toml:/hab/user/promtail/config/user.toml

volumes:
  themelio-node-testnet:
    name: themelio-node-testnet