version: "3.9"
services:
  themelio-node:
    image: ghcr.io/themeliolabs/themelio-node-testnet:latest
    network_mode: "host"
    command:
      --strategy at-once --url https://bldr.habitat.sh
      --group {{ aws_region }}
      --update-condition latest
      --auto-update
    ports:
      - 11814:11814
      - 8080:8080
    hostname: ${HOSTNAME}
    environment:
      - LOKI_USERNAME={{ loki_username }}
      - LOKI_PASSWORD={{ loki_password }}
    volumes:
      - themelio-node-testnet:/hab/svc/themelio-node-testnet/data

volumes:
  themelio-node-testnet:
    name: themelio-node-testnet