version: "3.9"
services:
  themelio-node:
    image: ghcr.io/themeliolabs/themelio-node:latest
    environment:
      - TESTNET=true
    command:
      --strategy rolling --url https://bldr.habitat.sh
      --group {{ openstack_region }}
      --update-condition latest
    ports:
      - 11814:11814
    volumes:
      - themelio-node:/hab/svc/themelio-node/data

volumes:
  themelio-node:
    name: themelio-node