log_level = "error"
http_port = 9080
grpc_port = 9095
loki_url = "https://loki.infra.themelio.org/loki/api/v1/push"
basic_auth_enabled = true
basic_auth_username = "admin"
basic_auth_password = "admin"